#main-con{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

#label1{
    text-transform: none;
    color: red;
    display: none;

}


#label2{
    text-transform: none;
    color: red;
    display: none;
}


#label3{
    text-transform: none;
    color: red;
    display: none;
}


.active {
    color: blue !important; 
}

