.slide-slide {
  align-items: center;
  justify-content: center;
}
.slide-max-wdith {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.slide-text {
  color: var(--dl-color-scheme-white);
}
.slide-root-class-name {
  background-color: #ff9b1d;
  background-image: url(https://scontent.famm6-1.fna.fbcdn.net/v/t39.30808-6/272211752_981100669183316_8698881527221915765_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=uvVm3TFj9yYAX-1d7_1&tn=B_Y9wZLf9lgEc2P3&_nc_ht=scontent.famm6-1.fna&oh=00_AT_Ae3kYJDWcLorOy3XIZint7vXYZ45g34hTGJK9luIkiQ&oe=62CD5709);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.slide-root-class-name1 {
  background-image: url(https://images.squarespace-cdn.com/content/v1/5a4fd61a80bd5e2790171278/1516731112862-1YG2S3P0H13FZ84NDLYT/5.jpg?format=2500w);
  background-color: #15bd19;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.slide-root-class-name2 {
  background-image: url(https://scontent.famm6-1.fna.fbcdn.net/v/t39.30808-6/274059403_3191710391074784_3575027305108111846_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=a26aad&_nc_ohc=K6F3ZQLgHZ8AX_qRAxE&tn=B_Y9wZLf9lgEc2P3&_nc_ht=scontent.famm6-1.fna&oh=00_AT_RVRVjD1XlpmGKuGqbQR2EuzMbk5AYlSWXgbJwjKeCuQ&oe=62C949AE);
  background-color: var(--dl-color-scheme-pink);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.slide-root-class-name3 {
  background-image: url(https://scontent.famm6-1.fna.fbcdn.net/v/t39.30808-6/284329084_1058724034754312_3232822473293431718_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=1UlCQ4WHAC8AX9OGHeJ&_nc_ht=scontent.famm6-1.fna&oh=00_AT_ZypXkzenMcFBG9OZYfQWhYX96HRjQHbDtNfZyK3Up0w&oe=62CCA989);
  background-color: var(--dl-color-scheme-lightblue);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slide-root-class-name4 {
  background-image: url(https://scontent.famm6-1.fna.fbcdn.net/v/t39.30808-6/272776046_985789775381072_3560747084198529823_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=8njxM8TEG-cAX9AYh6O&_nc_ht=scontent.famm6-1.fna&oh=00_AT8q1dNEZGN4chO4PbqTHBsnxGhFaErIP8KIshPZfzcMRQ&oe=62CCE631);
  background-color: var(--dl-color-scheme-darkblue);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
